body {
    /* Photo by Vincent Ledvina Unsplash*/
    background-image: linear-gradient(90deg, rgba(13, 48, 46, 0.5) 62%, rgba(13, 48, 46, 0.5) 70%), url("vincent-ledvina-HMNTE-tS-lo-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer {
    position: absolute;
    bottom: 0;
    color: white;
}

canvas {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .3;
}